.logout{
    fill: #fff;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
}

.main-nav.open .logout{
    display: block;
}

.logout #log-out{
    width: 30px;
    height: 30px;
}
