.logo_content .logo {
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.main-nav.open .logo_content .logo {
    opacity: 1;
    pointer-events: none;

}

.logo_content .logo box-icon {
    fill: white;
    width: 28px;
    height: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 20px;
    font-weight: 400;
}

.logo_content #nav_btn {
    fill: white;
    position: absolute;
    top: 6px;
    left: 45%;
    width: 30px;
    height: 30px;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-60%);
    cursor: pointer;
}

.main-nav.open #nav_btn {
    left: 90%;

}