.member-list.on{
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    padding: 10vh;
}

.member-list{
    display: none;
}

.member-list .member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member-list img {
    width: 150px;
    height: 200px;
    cursor: pointer;
}

.character { 
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

.character.on {
    display: flex;
    flex-direction: column;
}

.character .character-btns {
    text-align: center;
    margin: 0 auto;
    height: 30px;
    width: 100%;
}
.character .character-btns span {
    display: inline-block;
    height: 100%;
    width: 50%;
    border: 1px solid black;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.character .character-equip {
    position: absolute;
    left: 20%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.character .character-equip.hidden {
    display: none;
}

.character .character-equip .weapon,
.character .character-equip .armor,
.character .character-equip .jewelry {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.character .character-equip div img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.character img {
    height: 900px;
}

.character .character-equip .item-modal {
    width: 10em;
    height: 15em;
    border: 1px solid black;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
}

.character .character-equip .item-modal .item-information {
    flex-direction: inherit;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}


/* x버튼 스타일 > 수정예정 */
.character .character-equip .item-modal .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: black;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}


/* 스타일 수정 예정 */
.character .character-concept {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    top: 30px;
}

.character .character-concept.hidden {
    display: none;
}

.character .character-concept .concept {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
}

.character .character-concept .concept div {
    background: rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    width: 30%;
    border: 1px solid black;
}

.character .character-concept .concept .simple {
    position: absolute;
    left: calc(50% - 250px);
}

.character .character-concept .concept .appearance {
    position: absolute;
    width: 20%;
    height: 75%;
    left: 5%;
    top: 10%;
    overflow : auto;
}

.character .character-concept .concept .feature {
    position: absolute;
    height: 30%;
    right: 5%;
    top: 10%;
    overflow : auto;
}

/* 여기 잘 계산하기 */
.character .character-concept .concept .secret {
    position: absolute;
    height: 30%;
    right: 5%;
    top: 55%;
    overflow : auto;
}