.profile-details {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profile-details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
    margin-left: 20px;
}

.profile-details .details {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    display: none;
    pointer-events: none;
    white-space: nowrap;
}

.main-nav.open .profile-details .details {
    display: flex;
    pointer-events: auto;
}


.profile-details .name{
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid white;
}

.profile-details .twitter-id{
    font-size: 12px;
    font-weight: 400;
}