.status-interface{
    width: 240px;
    height: 500px;
    position: absolute;
    top: -200%;
    margin-left: auto;
    border: 1px solid violet;
    transition: 1s;
}

.status-interface.on{
    top: 120px;
}