.status-interface{
    width: 15%;
    height: 100%;
    position: fixed;
    right: -20%;
    border: 1px solid violet;
    background: #fff;
    transition: 0.5s;
}

.status-interface.on{
    right: 0;
}