.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
    display: none;
}

.mask.isActive{
    display: block;
}

.inventory {
    margin-top: 5px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(10, 55px);
    grid-template-rows: repeat(5, 55px);
    border: 1px solid #333;
    z-index: 5;
    background-color: #fff;
}

.inventory .item-modal {
    width: 10em;
    height: 15em;
    border: 1px solid black;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
}

.inventory .item-modal .item-information {
    flex-direction: inherit;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}


/* x버튼 스타일 > 수정예정 */
.inventory .item-modal .close {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: black;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

.inventory-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inventory-btn box-icon {
    cursor: pointer;
}

.item{
    width: 55px;
    height: 55px;
}

.inventory .item img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

